In [1]:
import wrds
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
db = wrds.Connection()
db.create_pgpass_file()

Loading library list...
Done
Enter your WRDS username [jonkq]:jonkq
Enter your password:········

In [3]:
amzn = db.raw_sql("select date, ret from crsp.dsf where permno in (84788) and date>='2010-01-01' and date<='2019-12-31'")
amzn.to_csv('amzn.csv')

In [12]:
mkt = db.raw_sql("select date, vwretd from crsp.dsi where date>='2010-01-01' and date<='2019-12-31'")
mkt.to_csv('mkt.csv')

In [13]:
rf = db.raw_sql("select caldt, tdyld from crsp.tfz_dly_rf2 where caldt>='2010-01-01' and caldt<='2019-12-31'")
rf.to_csv('rf.csv')

### Data Cleaning

In [14]:
d1 = mkt['date']
d2 = rf['caldt']

In [18]:
d2 = set(d2)
d2 = list(d2)
d2.sort()

In [15]:
rf = rf.set_index('caldt')

In [19]:
rf2 = [rf.loc[d2[i]].mean().item() for i in range(len(d2))]

In [20]:
rf2 = pd.DataFrame({'rf':rf2, 'date':d2})

In [21]:
rf2 = rf2.set_index('date')

In [23]:
d1 = list(d1)

c2 = [d2[i] for i in range(len(d2)) if d2[i] in d1]
rf2 = rf2.loc[c2]

d1 = [d1[i] for i in range(len(d1)) if d1[i] in d2]

In [26]:
print(len(d1),len(c2))

2497 2497